@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@300;400&display=swap");
@import "custom";
@import "~bootstrap/scss/bootstrap";

// $backgroundimage1: linear-gradient(90deg, #9274b7, #3b4a8d);
body {
  font-family: "Roboto", sans-serif;
  // background-image:$backgroundimage1
}

h1 {
  font-family: "Bangers", cursive;
  text-shadow: 1.5px 1.5px 2px #ffffff;
}

h6 {
  font-family: "Bangers", cursive;
  font-size: xx-large;
  text-shadow: 1.5px 1.5px 2px #ffffff;
}


.mapWrapper {
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height: 75%;
  width: 75%;
}

#myMap {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.mapForm {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

$footer-fixed: fixed;

#navbar {
  // position: $footer-fixed;
  // left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.huntDataToEdit {
  border: black solid 3px;
  width: 50%;
  margin: 10px
}

.hiddenForm {
  display: none;
  justify-content: center;
}