body {
  margin: 0;
  font-family: 'Roboto';
  font-size: 16px;
  
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

// Carousel configuration parameters
$n: 8;
$item-width: 400px;
$item-separation: 80px;
$viewer-distance: 500px;

// Derived variables
$theta: 2 * 3.141592653589793 / $n; 
$apothem: 482.842712474619px;

.carousel {
  padding: 20px;

  perspective: $viewer-distance;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  > * {
      flex: 0 0 auto;
  }
  
  figure {
      margin: 0;
      
      width: $item-width;
      transform-style: preserve-3d;
      transition: transform 0.5s;
      transform-origin: 50% 50% (-$apothem);
      
      img {
          width: 100%;
          box-sizing: border-box;
          padding: 0 $item-separation / 2;
          height: 300px;
          opacity: 0.9;
          
          &:not(:first-of-type) {
              position: absolute;
              left: 0;
              top: 0;
              transform-origin: 50% 50% (-$apothem);
          }
          
          @for $i from 2 through $n {
              &:nth-child(#{$i}) {
                  transform: rotateY(#{($i - 1) * $theta}rad);
              }
          }
      }
  }
  
  nav {
      display: flex;
      justify-content: center;
      margin: 20px 0 0;
      
      button {
          flex: 0 0 auto;
          margin: 0 5px;
          
          cursor: pointer;
          
          color: white;
          background: indigo;
          border: 1px solid;
          letter-spacing: 1px;
          padding: 5px 10px;
      }
  }
  
}


