
ul {
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  color: white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
