@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@300;400&display=swap");
@import "custom";
@import "~bootstrap/scss/bootstrap";

// $backgroundimage1: linear-gradient(90deg, #9274b7, #3b4a8d);
body {
  font-family: "Roboto", sans-serif;
  // background-image:$backgroundimage1
}

h1 {
  font-family: "Bangers", cursive;
  // text-shadow: 1.5px 1.5px 2px #ffffff;
  color: #000000;
}

h2 {
  font-family: "Bangers", cursive;
  color: #000000;
  text-align: center;
}

h6 {
  font-family: "Bangers";
  font-size: xx-large;
  // text-shadow: 1.5px 1.5px 2px #ffffff;
  color: #000000;
}

.mapWrapper {
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height: 75%;
  width: 75%;
}

#myMap {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.mapForm {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

$footer-fixed: fixed;

#navbar {
  // position: $footer-fixed;
  // left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.huntDataToEdit {
  border: black solid 3px;
  width: 50%;
  margin: 10px
}

.hiddenForm {
  display: none;
  justify-content: center;
}

.col-md-6{
  margin-left: auto;
  margin-right: auto;
}

.user-container {
  margin-top: 60px;
}

.admin {
  margin-top: -200px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 45px;
  text-align: center;
  width: 100%;
  // padding-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  clear: both;
}

.form1 {
  margin-top: -90px;
}

.firstRow {
  margin-bottom: 15px;
}

.secondRow {
  margin-bottom: 15px;
  margin-left: 80px;
}

.thirdRow {
  margin-right: 90px;
}

.btn {
  background-color: black;
  padding: 5px;
  color: white;
}

.custom {
  width: 150px;
  height: 85px;
}

.custom2 {
  width: 150px;
  margin-left: 75px;
}

.custom3 {
  margin-right: 30px;
  margin-left: 10px;
}

.map {
  margin-left: 55px;
}

.location, .answer {
  width: 300px;
}

.group-table{
  margin-top: 50px;
  margin-bottom: 80px;
}

.customCol{
  margin-top:5%
}