@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@300;400&display=swap');
@import "custom";
@import "~bootstrap/scss/bootstrap";

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Bangers', cursive;
}

h6{
    font-family: 'Bangers', cursive;
    font-size: x-large;
}