.wrapper {
    margin-top: 30px;
   
}
​
.startQuiz {
    margin-left: auto;
    margin-right: auto;
}
.content{
    justify-content: center;
    margin-top:30px;
}
.mapDisplay{
    margin-left: 50px;
}
.row{
    margin-bottom: 10px;
}
.lastRow{
    margin-top:25px;
}
.completeHunt{
    margin-left: 5px;
}

.customBtn{
    background-color: black;
    color:white;
    border: none;
    border-radius: 4px;
    padding:10px;
}

.animate__heartBeat{
    color: green;
    text-shadow: 1px 1px 1px white;
    font-weight: 900;
    font-size: 1.5em;
}

.wrong{
    color: red;
    text-shadow: 1px 1px 1px white;
    font-weight: 900;
    font-size: 1.5em;
    animation: shakeX;
    animation-duration: 2s;
}
